/db/*
logs/*
\.idea/*
.vscode/
\.vscode/*
*.pyc
.DS_Store
.thumb
*.kate-swp
docs/*
tmp
build/
develop-eggs/
eggs/
__pycache__/
\__pycache__/
.installed.cfg
src/*.egg-info
*.pyc
*.pyo
.DS_Store
db.sqlite3
